@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: 0 0% 0%;
    --white: 0 0% 100%;
    --border: var(--secondary);
    --input: var(--black), 0.6;
    --radius: 0.5rem;
    --ring: var(--background-dark);
    --background: var(--background-light);
    --background-dark: 241, 27%, 32%;
    --background-light: 228, 38%, 95%;
    --background-to: 223, 33%, 89%;
    --foreground: var(--background-dark);
    --primary: 292, 81%, 73%;
    --primary-foreground: var(--white);
    --secondary: 249, 60%, 71%;
    --secondary-foreground: var(--white);
    --accent: var(--primary);
    --accent-foreground: var(--primary-foreground);
    --accent-blue: 215, 61%, 69%;
    --accent-green: 161, 36%, 80%;
    --action: 289, 75%, 63%;
    --action-foreground: var(--white);
    --destructive: 324, 100%, 66%;
    --destructive-foreground: var(--white);
    --highlight: 61, 81%, 79%;
    --highlight-foreground: var(--black);
    --muted: 250, 60%, 94%;
    --muted-foreground: var(--white);
    --header: var(--highlight), 0.6;
    --header-foreground: var(--background-dark);
    --nav: var(--background-dark);
    --popover: var(--white);
    --popover-foreground: var(--background-dark);
  }

  .dark {
    --input: var(--white), 0.6;
    --ring: var(--highlight);
    --background: var(--background-dark);
    --background-to: var(--background-dark);
    --foreground: var(--background-light);
    --highlight-foreground: var(--white);
    --header: var(--black), 0.2;
    --header-foreground: var(--white);
    --nav: 263, 8%, 19%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
